In [5]:
import numpy as np
import pandas as pd
from apyori import apriori

In [6]:
store_data = pd.read_excel('D:\Perkuliahan\Online\Mining\Phiton\data.xls')

In [7]:
store_data.head()

   Tranksaksi ke- Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
0               1     Wine    Chips    Bread   Butter     Milk    Apple
1               2     Wine      NaN    Bread   Butter     Milk      NaN
2               3      NaN      NaN    Bread   Butter     Milk      NaN
3               4      NaN    Chips      NaN      NaN      NaN    Apple
4               5     Wine    Chips    Bread   Butter     Milk    Apple

In [8]:
store_data.tail()

    Tranksaksi ke- Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
17              18      NaN    Chips      NaN   Butter     Milk    Apple
18              19     Wine    Chips    Bread   Butter     Milk    Apple
19              20     Wine      NaN    Bread   Butter     Milk    Apple
20              21     Wine    Chips    Bread      NaN     Milk    Apple
21              22      NaN    Chips      NaN      NaN      NaN      NaN

In [9]:
store_data.shape

(22, 7)

In [10]:
records = []
for i in range (0,22):
    records.append([str(store_data.values[i,j]) for j in range (0,7)])

In [11]:
assosiation_rules = apriori(records, min_support=0.30, min_confidence=0.8, min_lift=1.2, min_lenght=3)

In [12]:
assosiation_results = list(assosiation_rules)

In [13]:
print(len(assosiation_results))

13

In [14]:
print(assosiation_results[0])

RelationRecord(items=frozenset({'Bread', 'Apple', 'Wine'}), support=0.45454545454545453, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Apple', 'Wine'}), confidence=0.625, lift=1.25), OrderedStatistic(items_base=frozenset({'Apple', 'Wine'}), items_add=frozenset({'Bread'}), confidence=0.9090909090909091, lift=1.25)])

In [21]:
results=[]
for item in assosiation_results:
    pair = item[0]
    items = [x for x in pair]
    
    value0 = str(items[0])    
    value1 = str(items[1])
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]
    
    rows = (value0,value1,value2,value3,value4)
    
    results.append(rows)
    
    label = ['tittle 1', 'tittle2', 'support', 'convidence', 'lift']
    
    store_suggestion=pd.DataFrame.from_records(results, columns=label)
    print(store_suggestion)

  tittle 1 tittle2 support convidence  lift
0    Bread   Apple  0.4545      0.625  1.25
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
3    Bread    Milk     0.5     0.7333  1.2410
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
3    Bread    Milk     0.5     0.7333  1.2410
4    Bread  Butter  0.4545      0.625    1.25
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
3    Bread    Milk     0.5     0.7333  1.2410
4    Bread  Butter  0.4545      0.625    1.25
5    Chips   Bread  0.3181     0.5833  1.2833
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
3    Bread    Milk     0.5     0.7333  1.2410
4    Bread  Butter  0.4545      0.625    1.25
5    Chips   Bread  0.3181     0.5833  1.2833
6    Bread   Apple  0.3181      0.875  1.2031
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
3    Bread    Milk     0.5     0.7333  1.2410
4    Bread  Butter  0.4545      0.625    1.25
5    Chips   Bread  0.3181     0.5833  1.2833
6    Bread   Apple  0.3181      0.875  1.2031
7    Bread   Apple  0.3636        0.5  1.2222
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
3    Bread    Milk     0.5     0.7333  1.2410
4    Bread  Butter  0.4545      0.625    1.25
5    Chips   Bread  0.3181     0.5833  1.2833
6    Bread   Apple  0.3181      0.875  1.2031
7    Bread   Apple  0.3636        0.5  1.2222
8     Milk   Apple  0.3181     0.6363  1.2727
  tittle 1 tittle2 support convidence    lift
0    Bread   Apple  0.4545      0.625    1.25
1     Milk   Apple  0.4090     0.6000  1.2000
2    Chips   Bread  0.4090     0.5625  1.2375
3    Bread    Milk     0.5     0.7333  1.2410
4    Bread  Butter  0.4545      0.625    1.25
5    Chips   Bread  0.3181     0.5833  1.2833
6    Bread   Apple  0.3181      0.875  1.2031
7    Bread   Apple  0.3636        0.5  1.2222
8     Milk   Apple  0.3181     0.6363  1.2727
9    Chips   Bread  0.3181      0.875  1.2833
   tittle 1 tittle2 support convidence    lift
0     Bread   Apple  0.4545      0.625    1.25
1      Milk   Apple  0.4090     0.6000  1.2000
2     Chips   Bread  0.4090     0.5625  1.2375
3     Bread    Milk     0.5     0.7333  1.2410
4     Bread  Butter  0.4545      0.625    1.25
5     Chips   Bread  0.3181     0.5833  1.2833
6     Bread   Apple  0.3181      0.875  1.2031
7     Bread   Apple  0.3636        0.5  1.2222
8      Milk   Apple  0.3181     0.6363  1.2727
9     Chips   Bread  0.3181      0.875  1.2833
10    Chips   Bread  0.3181     0.7000  1.4000
   tittle 1 tittle2 support convidence    lift
0     Bread   Apple  0.4545      0.625    1.25
1      Milk   Apple  0.4090     0.6000  1.2000
2     Chips   Bread  0.4090     0.5625  1.2375
3     Bread    Milk     0.5     0.7333  1.2410
4     Bread  Butter  0.4545      0.625    1.25
5     Chips   Bread  0.3181     0.5833  1.2833
6     Bread   Apple  0.3181      0.875  1.2031
7     Bread   Apple  0.3636        0.5  1.2222
8      Milk   Apple  0.3181     0.6363  1.2727
9     Chips   Bread  0.3181      0.875  1.2833
10    Chips   Bread  0.3181     0.7000  1.4000
11    Bread    Milk  0.4090     0.5625  1.2375
   tittle 1 tittle2 support convidence    lift
0     Bread   Apple  0.4545      0.625    1.25
1      Milk   Apple  0.4090     0.6000  1.2000
2     Chips   Bread  0.4090     0.5625  1.2375
3     Bread    Milk     0.5     0.7333  1.2410
4     Bread  Butter  0.4545      0.625    1.25
5     Chips   Bread  0.3181     0.5833  1.2833
6     Bread   Apple  0.3181      0.875  1.2031
7     Bread   Apple  0.3636        0.5  1.2222
8      Milk   Apple  0.3181     0.6363  1.2727
9     Chips   Bread  0.3181      0.875  1.2833
10    Chips   Bread  0.3181     0.7000  1.4000
11    Bread    Milk  0.4090     0.5625  1.2375
12    Chips   Bread  0.3181      0.875  1.2031

In [16]:
store_suggestion.describe()

       tittle 1 tittle2 support convidence    lift
count        13      13      13         13      13
unique        3       4       5          9       9
top       Bread   Apple  0.3181      0.875  1.2833
freq          6       5       6          3       2

In [17]:
store_suggestion.to_excel('D:\Perkuliahan\Online\Mining\Phiton\hasil1.xls')